<% include header %>
<style>
    .widewrapper.main {
        min-height: 500px;
    }
</style>
<div class="container myself">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <p>

            </p>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>
                            <label>姓名：</label><span>伍姣龙</span>
                        </p>
                        <p>
                            <label>电话：</label><span>13001251007</span>
                        </p>
                        <p>
                            <label>邮箱：</label><span>wujiaolon_g@163.com</span>
                        </p>
                        <p>
                            <label>现住址：</label><span>北京市顺义区</span>
                        </p>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footer %>