
</div>
</div>
</div>
<footer>
    <div class="widewrapper footer">
        <div class="container">
            <div class="row" style="text-align: center">




                    <h4 class="col-md-12"> <i class="fa fa-envelope"></i>联系我吧 <a href="mailto:wujiaolon_g@163.com"> 给我发邮件 </a></h4>



            </div>
        </div>
    </div>
    <div class="widewrapper copyright">
        Copyright © 2013-2017
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/layer.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a0db73325c5e93ae598068856e4fbeef";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

</body>
</html>