<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="伍姣龙的个人博客，前端技术">
    <meta name="keywords" content="伍姣龙,h5,js,css,vue,nodejs,javascript,web前端,wujiaolong,wujiaolon_g@163.com,伍姣龙的个人博客，前端技术">
    <meta name="author" content="伍姣龙,wujiaolon_g@163.com 北京">
    <meta name="baidu-site-verification" content="DcPfJiXaxt" />
    <meta name="robots"content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">


    <!-- Styles -->
    <link rel="stylesheet" href="/css/style.css" id="theme-styles">
    <style>
        .blog-teaser header{
            padding-top:10px;
        }
        .paging{
            text-align: center;
            background: #f1f1f1;
            color:#fff;
            cursor: pointer;
        }
        .paging:hover{
            background: #ccc;
        }
        .paging:active{
            background: #f1f1f1;
        }
        .blog-teaser header{
            cursor: pointer;
            background: #f4f4f4;
        }
        .blog-teaser header:hover{
            background:#ccc;
        }
        .tags li{
            cursor: pointer;
        }
        .tags li:active{
            background:#f1f1f1;
        }
        .tags li:visited{
            background:#f1f1f1;
        }
    </style>



</head>
<body>
<header>
    <div class="widewrapper masthead">
        <div class="container">
            <a href="/" id="logo">
                wujiaolong's blog
            </a>

            <div id="mobile-nav-toggle" class="pull-right">
                <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <nav class="pull-right clean-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">

                        <li>
                            <a href="/">主页</a>
                        </li>
                        <li>
                            <a href="/self">个人简介</a>
                        </li>
                        <li>
                            <a href="/contact">联系我</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <div class="widewrapper subheader">
        <div class="container">
            <div class="clean-breadcrumb">
                <a href="#">Blog</a>
            </div>

            <div class="clean-searchbox">
                <div >
                    <input class="searchfield" id="searchbox" type="text" placeholder="输入关键字">
                    <button class="searchbutton" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="widewrapper main">
    <div class="container">
        <div class="row">