<%- include header %>
<style>
    body{
        padding:0px;
    }
    .body{
        min-height: 500px;
    }
    .container{
        overflow-x: hidden;
    }
</style>

<div class="body">

   <div class="col-md-12">
       <p style="margin-bottom:13px;text-align:center">
           <br/>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">个人信息·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <span style="line-height: 115%;font-family: 宋体">&nbsp;</span>
       </p>
       <p style="text-align: left; line-height: 115%;">
           <span style="line-height: 115%;font-family: 宋体">姓　&nbsp; 名： 伍姣龙&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 性　&nbsp; 别： 男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
       </p>
       <p style="text-align: left; line-height: 115%;">
           <span style="line-height: 115%;font-family: 宋体">现&nbsp;&nbsp;&nbsp; 居： 北京 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;工作经验： 6年</span>
       </p>
       <p style="text-align: left; line-height: 115%;">
           <span style="line-height: 115%;font-family: 宋体">电&nbsp;&nbsp;&nbsp; 话： 13001251007 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;邮&nbsp;&nbsp;&nbsp; 箱： </span><span style="font-size:14px;line-height:115%;font-family:微软雅黑;color:#0C0C0C;background:white">wujiaolon_g@163.com</span>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">求职意向·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <span style="font-family: 宋体">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style="font-family: 宋体">HTML5</span><span style="font-family: 宋体">高级开发工程师，</span><span style="font-family: 宋体">目前属于在职状态，观望更好的平台</span><span style="font-family: 宋体">；</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style="font-family: 宋体">期望薪资：面议</span><span style="line-height: 115%;font-family: 宋体">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">专业技能·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style="font-family: 宋体;">◆</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">熟悉</span><span style="line-height: 150%; font-family: 宋体;">HTML5/CSS3</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">以及</span><span style="line-height: 150%; font-family: 宋体;">LESS</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">和</span><span style="line-height: 150%; font-family: 宋体;">SASS</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">等</span><span style="line-height: 150%; font-family: 宋体;">CSS</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">预处理器、</span><span style="line-height: 150%; font-family: 宋体;">bootstrap</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">等前端</span><span style="line-height: 150%; font-family: 宋体;">UI</span><span style="line-height: 150%; font-family: &quot;Songti SC&quot;;">框架</span><br/>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">精通页面架构和布局，对表现、结构、行为相分离、web语义化有深刻的理解；</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体">◆</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">熟练运用</span><span style=";line-height:150%;font-family:宋体">JavaScript</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">、</span><span style=";line-height:150%;font-family:宋体">JQuery</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">、</span><span style=";line-height:150%;font-family:宋体">Zepto</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">、</span><span style=";line-height:150%;font-family:宋体">Ajax</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">，能很好的配合后台工程师完成数据请求与渲染</span><span style=";line-height:150%;font-family:宋体">,</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">并有独立通过已定义接口完成前后台交互的能力</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">熟悉vue.js,了解angular.js等mvvm框架，并开发过实际项目</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体">对前后端分离，组件化，模块化开发思想有一定了解</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">熟悉使用</span><span style=";line-height:150%;font-family:宋体">grunt/gulp</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">、</span><span style=";line-height:150%;font-family:宋体">webpack</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">等前端自动化构建工具，简化前端开发流程和优化代码</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">熟悉</span><span style=";line-height:150%;font-family:宋体">git</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">、</span><span style=";line-height:150%;font-family:宋体">svn</span><span style=";line-height:150%;font-family:&#39;Songti SC&#39;">等版本控制工具，对项目进行团队协作开发和管理</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">熟悉asp.net、nodejs后端语言并开发过实际项目，了解Php、mysql</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">熟悉微信公众号开发，了解微信小程序开发并做过demo</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">熟悉mac平台上进行前端开发，熟悉常用的Linux命令操作</span>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">◆</span><span style="font-family: 宋体;color:#0C0C0C">有三年团队管理经验</span>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">工作经历·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="line-height: 150%; text-align: left;">
           <span style="font-family: 宋体;color:#0C0C0C">2017/3- </span><span style="font-family:宋体;color:#0C0C0C">至今 &nbsp;&nbsp;厦门神州鹰科技有限公司&nbsp; <a>HTML5</a>开发主管</span>
       </p>
       <p style="margin-bottom: 13px; line-height: 150%; text-align: left;">
           <span style="font-family:宋体;color:#0C0C0C">2014/7 - 2017/2&nbsp;&nbsp; &nbsp;</span><span style="font-family:宋体;color:#0C0C0C">数创信息技术(上海)有限公司 &nbsp;HTML5高级开发工程师兼前端技术经理2011/6-2014/5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 天利集团&nbsp;&nbsp;&nbsp; 前端开发工程师</span>
       </p>
       <p style="margin-bottom: 13px;line-height: 150%">
           <span style="font-family:宋体;color:#0C0C0C">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">项目经验·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <span style="line-height: 115%;font-family: 宋体">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">◆</span> <strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">掌通家园</span></strong><strong><span style="font-size:19px;line-height:115%;font-family:宋体;color:#0C0C0C">o2o(h5)</span></strong>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目描述：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">是集成在掌通家园app内的h5应用，主要是发布一些上线活动供幼儿园学生周末活动比如亲子游、景区门票等，用户可以在线下订单购买并去景点兑换游玩。</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目职责：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">负责整个o2o前端项目的开发、性能优化、开发规范、代码部署以及对项目的维护和优化</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">；负责团队成员任务分配及工作总结</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">应用技术：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">与后台讨论并设计数据结构，渲染页面，展示数据</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span> <span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">用</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">vue</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">.js</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">、es6</span><span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">开发页面移动端</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">web</span><span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">页面；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">jquery</span><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">seajs</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">bootstrap</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">开发后台</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">web</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">页面</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span> <span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">使用禅道提交测试及跟进bug并及时修复</span><span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">使用git托管工具管理代码</span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">；</span>
       </p>
       <p style="margin-top: 8px;margin-bottom: 8px">
           <span style="font-size:15px;font-family:宋体;color:#0C0C0C">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">◆</span> <strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">掌通家园育儿平台（</span></strong><strong><span style="font-size:19px;line-height: 115%;font-family:宋体;color:#0C0C0C">h5</span></strong><strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">）</span></strong>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目描述：是掌通家园中的一个在线体验试听、文章、百科、问答的大模块</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目职责：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">完成其后台管理系统框架的搭建及数据交互</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">运用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">javascript</span><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">zepto</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">完成移动端h5页面的数据展示及交互</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">前端</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">项目整体开发进度的把控及工作总结</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);"> 上线后项目的跟进以及持续优化 &nbsp; &nbsp; &nbsp; &nbsp;</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">应用技术：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">使用</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">采用bootstrap、seajs、jquery</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">响应式布局构建界面</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 16px; font-family: 宋体; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 16px;"> </span><span style="text-indent: 16px; font-size: 15px; line-height: 150%; font-family: 宋体; background: white;">调用Swiper第三方插件实现页面的滑动等效果</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">运用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">sass</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">编译样式，实现代码优化性能；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">sea.js</span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">实现模块化开发，git版本控制；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);"> 运用canvas插件 echarts构建数据统计图</span>
       </p>
       <p style="margin-top: 8px;margin-bottom: 8px;margin-left: 92px;text-indent: 20px">
           <span style="font-size:15px;font-family:宋体;color:#0C0C0C">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
       </p>
       <p style="margin-bottom: 13px; line-height: 115%; text-align: left;">
           <a><span style="line-height: 115%;font-family: 宋体">◆</span></a> <strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">车</span></strong><strong><span style="font-size:19px;line-height:115%;font-family:宋体;color:#0C0C0C">e</span></strong><strong><span style="font-size:19px;line-height: 115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">族汽车商城（</span></strong><strong><span style="font-size:19px;line-height:115%;font-family:宋体;color:#0C0C0C">h5</span></strong><strong><span style="font-size:19px;line-height: 115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">）</span></strong>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目描述</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">e</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">族是一款和中石化合作的以加油卡充值、加油活动为核心业务的</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">app</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">汽车商城是其中一个可以在线订购汽车、保险并线下去实体店体验、购买汽车的</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">web</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">模块</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目职责</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆负责整个汽车商城</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">h5</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目框架的搭建、开发并提交上线</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">，以及对用户体验性能做优化。</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px; line-height: 115%; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="font-size: 15px; line-height: 115%; font-family: 宋体; color: rgb(12, 12, 12);">负责与客户端进行沟通开发jssdk,</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">负责汽车商城后台管理系统的开发、维护</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">应用技术</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">使用</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">zepto.js</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">进行前端业务模块的开发，使用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">rem+flex</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">布局的方式进行</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">h5</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">页面的响应式布局，使用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">jquery</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">bootstrap</span><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">进行后台管理系统的搭建及业务模块的开发</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">使用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">gulp</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">进行前端代码打包优化；</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">使用</span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">git</span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">版本控制系统进行代码版本的管理</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">使用禅道系统完成</span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">bug</span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">的跟踪</span>
       </p>
       <p style="margin-top: 8px;margin-bottom: 8px">
           <span style="font-size:15px;font-family:宋体;color:#0C0C0C">&nbsp;</span>
       </p>
       <p style="margin-bottom: 13px; line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">◆</span> <strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">一辆车（积分商城</span></strong><strong><span style="font-size:19px;line-height: 115%;font-family:宋体;color:#0C0C0C">h5</span></strong><strong><span style="font-size:19px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">）</span></strong>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目描述</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：积分商城是对已有用户通过</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">app</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">买保险、买汽车服务之后产生的积分并回馈客户的一个在线商城</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目职责</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：负责整个积分商城</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">h5</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">项目框架的搭建、开发并提交上线</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">，以及对用户体验性能做优化。负责积分商城后台管理系统的开发、维护</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">应用技术</span></strong><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">：</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">◆</span> <span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">使用</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">vue.js</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">es6</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">vux</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">vue-router</span><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">vue-cli</span><span style="font-size:15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">进行前端业务模块的开发，使用</span><span style="font-size:15px;line-height:115%;font-family: 宋体;color:#0C0C0C">rem+flex</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">布局的方式进行</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">h5</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">页面的响应式布局，使用</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">jquery</span><span style="font-size:15px;line-height:115%;font-family: &#39;Songti SC&#39;;color:#0C0C0C">、</span><span style="font-size:15px;line-height:115%;font-family:宋体;color:#0C0C0C">bootstrap</span><span style="font-size: 15px;line-height:115%;font-family:&#39;Songti SC&#39;;color:#0C0C0C">进行后台管理系统的搭建及业务模块的开发</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">使用</span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">git</span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">版本控制系统进行代码版本的管理</span>
       </p>
       <p style="margin-bottom: 13px; margin-left: 56px; text-indent: 28px; line-height: 115%; text-align: left;">
           <span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">◆</span><span style="text-indent: 20px;"> </span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">使用禅道系统完成</span><span style="text-indent: 20px; font-size: 15px; font-family: 宋体; color: rgb(12, 12, 12);">bug</span><span style="text-indent: 20px; font-size: 15px; font-family: &quot;Songti SC&quot;; color: rgb(12, 12, 12);">的跟踪</span>
       </p>
       <p style="margin-bottom: 13px;margin-left: 112px;text-indent: 28px;line-height: 115%">
           <span style="font-size: 15px;line-height:115%;font-family:宋体;color:#0C0C0C">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">教育背景·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <br/>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:#0C0C0C">2009 - 201<a>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></span><span style=";line-height:115%;font-family:宋体;color:#0C0C0C">中原工学院软件学院 &nbsp;&nbsp;大专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:#0C0C0C">2016</span><span style=";line-height:115%;font-family:宋体;color:#0C0C0C">．10-至今&nbsp;&nbsp;&nbsp; 北京科技大学(计算机网络)&nbsp; 本科</span>
       </p>
       <p style="line-height:115%">
           <span style="font-size: 19px;line-height:115%;font-family:宋体;color:#0C0C0C">&nbsp;</span>
       </p>
       <p style="line-height: 115%; text-align: left;">
           <span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">___</span><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">·</span></strong><strong><span style="line-height: 115%;font-family: 宋体;background: rgb(217, 217, 217)">自我评价·</span></strong><span style=";line-height:115%;font-family:宋体;color:white;background:#D9D9D9">____________________________________________________________________</span>
       </p>
       <p style="line-height:115%">
           <span style=";line-height:115%;font-family:宋体;color:white">&nbsp;</span>
       </p>
       <p style="margin-left: 24px; line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">1、</span><span style="line-height: 115%;font-family: 宋体">熟悉软件开发的整套流程，对于前后台的数据交互有实际项目经验；</span>
       </p>
       <p style="margin-left: 24px; line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">2、</span><span style="line-height: 115%;font-family: 宋体">性格随和，和同事关系融洽，团队内部可以无障碍沟通；</span>
       </p>
       <p style="margin-left: 24px; line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">3、</span><span style="line-height: 115%;font-family: 宋体">喜欢研究新技术，对于计算机的新技术有浓厚的兴趣；</span>
       </p>
       <p style="margin-left: 24px; line-height: 115%; text-align: left;">
           <span style="line-height: 115%;font-family: 宋体">4、</span><span style="line-height: 115%;font-family: 宋体">自学能力很强，有信心应对不同技术的项目开发工作；</span>
       </p>
       <p>
           <br/>
       </p>
   </div>

</div>


<%- include footer %>
